/* TODO: Add sitewide styles */

.tweet-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tweet-submit {
    display: flex;
    justify-content: space-between;
    width: 150px;
}
